@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #222;
	color: #aaa;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
    width: 50%;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	/* width: 100%; */
	margin: 0px;
}

a[href] {
	color: #1e8ad6;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

.holder {
    display: block;
    max-width: 95%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.GPAInputDiv {
    overflow-x: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.GPACalculator {
    table-layout: fixed;
    margin:40px auto 0px auto;
    border-collapse: collapse;
}

.GPACalculator > tr, th, td {
    border: 1px solid #D8D8D8;
    text-align: center;
    min-width: 70px;
}

.GPACalculator th {
    padding-left: 1vw;
    padding-right: 1vw;
    word-wrap: normal;
}

.headerClassName {
    background: none;
    color: #D8D8D8;
    border: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 1vh 1vw;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #121212;
    color: #D8D8D8;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 5vh;
}

.select select::-ms-expand {
    display: none;
}
    
.select select:hover,
.select select:focus {
    color: #D8D8D8;
    background: #121212;
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: darkgray transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #D8D8D8;
  }

.select select:disabled ~ .select__arrow {
    border-top-color: gray;
}

.gradeInput {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #121212;
    color: #D8D8D8;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 5vh;
}

.resultsBox {
    border-collapse: collapse;
    margin-top: 7.5vh;
    margin-left: calc(1vw + -1px);
    margin-right: 1vw;
    padding: 1vh 1vw;
    /* border: 1px solid #D8D8D8; */
    text-align: left;
    display: block;
    min-width: 25%;
    max-width: 100%;
}

.resultsBox input[type=text] {
    background-color: #121212;
    color: #D8D8D8;
    border: 1px solid lightgray;
    line-height: 20px;
    text-align: center;
}

.resultsBox input[type=text]::placeholder {
    color: rgb(139, 135, 135);
}

.resultsBox button {
    background-color: #121212;
    color: #D8D8D8;
    border: 1px solid lightgray;
    cursor: pointer;
    line-height: 20px;
}

.resultsBox button:hover {
    background-color: #272727;
    color: #D8D8D8;
}

.resultsBox button:active {
    background-color: #272727;
    color: #D8D8D8;
}

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.column {
    border: 1px solid #D8D8D8;
    flex: 1;
    padding: 1vh 1vw 1vh 1vw;
}

.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}