:root {
  --main-bg-color: #A7C7E7;
  --other-bg-color: #8db8e4;
  --other-bg-color2: #7cafe2;
  --main-text-color: #121212;
  --other-text-color: #222;
  --other-text-color2: #161616;
  --link-color: #0063aa;
  --link-hover-color: #0072c4;
  --contribute-shadow-color: rgba(255, 255, 255, 0.9);
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: var(--main-bg-color);
	color: var(--other-text-color);
  overflow-x: hidden;
  position: relative;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--main-text-color);
	border-top: 1px solid var(--main-text-color);
  width: 50%;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--main-text-color);
	border-top: 1px solid var(--main-text-color);
}

hr {
	height: 1px;
	background-color: var(--main-text-color);
	border: none;
	/* width: 100%; */
	margin: 0px;
}

a[href] {
	color: var(--link-color);
}

a[href]:hover {
	color: var(--link-hover-color);
}

img {
	max-width: 100%;
}

li {
	line-height: 1.5em;
}

.holder {
    display: block;
    max-width: 95%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.contribute{
  padding-left: 4.2vw;
  margin-top: 30px;
}

.contribute a {
  text-shadow: 0 0 8px var(--contribute-shadow-color);
}

.contribute a:hover {
  color: var(--link-hover-color);
  text-shadow: 0 0 8px var(--contribute-shadow-color);
  /* background-color: #8db8e4; */
}

.GPAInputDiv {
    overflow-x: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

.GPACalculator {
    table-layout: fixed;
    margin:40px auto 0px auto;
    border-collapse: collapse;
}

.GPACalculator > tr, th, td {
    border: 1px solid var(--main-text-color);
    text-align: center;
    min-width: 70px;
}

.GPACalculator th {
    padding-left: 1vw;
    padding-right: 1vw;
    word-wrap: normal;
}

.headerClassName {
    background: none;
    color: var(--main-text-color);
    border: none;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 1vh 1vw;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: var(--other-bg-color);
    color: var(--main-text-color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 5vh;
}

.select select::-ms-expand {
    display: none;
}
    
.select select:hover,
.select select:focus {
    color: var(--main-text-color);
    background: var(--other-bg-color);
}
.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--other-text-color) transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: var(--main-text-color);
  }

.select select:disabled ~ .select__arrow {
    border-top-color: gray;
}

.gradeInput {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: var(--other-bg-color);
    color: var(--main-text-color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 5vh;
}

.resultsBox {
  overflow-x: scroll;
  border-collapse: collapse;
  margin-top: 7.5vh;
  margin-left: calc(1vw + -1px);
  margin-right: 1vw;
  padding: 1vh 1vw;
  /* border: 1px solid var(--main-text-color); */
  text-align: left;
  display: block;
  min-width: 25%;
  max-width: 100%;
}

.resultsBox input[type=text] {
    background-color: var(--other-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--other-text-color);
    line-height: 20px;
    text-align: center;
}

.resultsBox input[type=text]::placeholder {
    color: var(--other-text-color2);
}

.resultsBox button {
    background-color: var(--other-bg-color);
    color: var(--main-text-color);
    border: 1px solid var(--other-text-color);
    cursor: pointer;
    line-height: 20px;
}

.resultsBox button:hover {
    background-color: var(--other-bg-color2);
    color: var(--main-text-color);
}

.resultsBox button:active {
    background-color: var(--other-bg-color2);
    color: var(--main-text-color);
}

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.column {
    border: 1px solid var(--main-text-color);
    flex: 1;
    padding: 1vh 1vw 1vh 1vw;
}

.OverallContainer {
  position: relative;
}

.dropdown-check-list {
    display: inline-block;
  }
  
  .dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid var(--other-text-color);
  }
  
  .dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
  }
  
  .dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid var(--other-text-color);
    border-top: none;
  }
  
  .dropdown-check-list ul.items li {
    list-style: none;
  }
  
  .dropdown-check-list.visible .anchor {
    color: #0094ff;
  }
  
  .dropdown-check-list.visible .items {
    display: block;
  }

  .hidden {
    opacity: 0%;
  }

  .notification-holder {
    position: fixed;
    top: 5vh;
    width: 100%;
    min-height: 10vh;
    height: auto;
    z-index: 100;
  }

  .notification {
    position: absolute;
    display: block;
    overflow: auto;
    width: 25%;
    min-width: 200px;
    min-height: 10vh;
    height: fit-content;
    background-color: #C1F7EE;
    top: 5vh;
    right: -10vw;
    transform-origin: right;
  }

  .animate-notif {
    -webkit-animation: notify 4s ease-in-out;
    animation: notify 4s ease-in-out;
  }
  
  @-webkit-keyframes notify {
    0% {transform: scaleX(0);}
    10% {transform: scaleX(1);}
    13% {transform: scale(1.1);}
    16% {transform: scale(1);}
    65% {transform: scaleX(1);}
    75% {transform: scaleX(0.25);}
    95% {transform: scaleX(0.25);}
    100% {transform: scaleX(0);}
  }
  
  @keyframes notify {
    0% {transform: scaleX(0);}
    10% {transform: scaleX(1);}
    13% {transform: scale(1.1);}
    16% {transform: scale(1);}
    65% {transform: scaleX(1);}
    75% {transform: scaleX(0.25);}
    95% {transform: scaleX(0.25);}
    100% {transform: scaleX(0);}
  }
  
  .identifier {
    position: absolute;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-color: #94DACD;
    margin-top: 5.5px;
    margin-left: 7.5px;
    font-size: 1.3vw;
    line-height: 1.2vw;
    padding: 2px 2px 2px 2px;
    text-align: center;
    z-index: 99;
  }

   .animate-identifier {
    -webkit-animation: exit 4s ease-in-out;
    animation: exit 4s ease-in-out;
   }
  
  .text {
    position: relative;
    display: inline-block;
    height: auto;
    width: 45%;
    min-width: 140px;
    background-color: #94DACD;
    color: #272727;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2vw;
    margin-right: 5vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .animate-text {
    -webkit-animation: exit 4s ease-in-out;
    animation: exit 4s ease-in-out;
  }
  
  @-webkit-keyframes exit {
    0% {opacity: 1;}
    55% {opacity: 1;}
    65% {opacity: 0;}  
    100% {opacity: 0;}
  }
  
  @keyframes exit {
    0% {opacity: 1;}
    55% {opacity: 1;}
    65% {opacity: 0;}  
    100% {opacity: 0;}
  }

  .toggle-theme {
    background: rgba(1, 128, 128, 0.5);
    height: 3rem;
    width: 3rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 1vw;
    top: 1vh;
    overflow: hidden;
    transition: transform 0.5s ease;
  }
  
  .toggle-theme:hover,
  .togge-theme:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .toggle-theme i {
    font-size: 2rem;
    position: absolute;
    transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease;
  }
  
  .fa-sun {
    color: rgb(238, 253, 30);
    transform: translateX(0px);
    z-index: 1000;
  }
  
  .fa-moon {
    color: rgb(251, 178, 6);
    transform: translateX(50px);
    opacity: 0;
    z-index: 1000;
  }
  
  #checkbox {
    display: none;
  }
  
  #checkbox:checked ~ .toggle-theme .fa-sun{
      opacity: 0;
      transform: translateX(-50px);
  }
  
  #checkbox:checked ~ .toggle-theme .fa-moon{
      opacity: 1;
      transform: translateX(0px);
  }

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}

.import-export-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

.import-export {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  flex: 1;
}

.import-export2 {
  position: relative;
  min-width: 275px;
  width: 33vw;
  min-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #D8D8D8;
  color: #222;
  text-align: center;
  display: table;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
}

.import-export2 > .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(233, 48, 48);
  text-shadow: 0.5px 0.5px #222;
  width: 40px;
  height: 40px;
}

.import-export2 > .close-btn > span {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 40px;
}

#i-e-choose {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px whitesmoke;
}

.import-export2 h2, #i-e-choose span, button.coolButton, #i-e-choose p {
  font-size: calc(0.95vh + 0.85vw);
}

button.coolButton {
  font-weight: 500;
  border: solid 2px black;
  outline: 0;
  padding: 0.5rem 0.5vw;
  /* font-size: calc(0.65vh + 0.75vw); */
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  min-width: 75px;
}

button.coolButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  transition: all 0.3s ease-in-out;
}

button.coolButton.i::after {
  background-color: skyblue;
}

button.coolButton.e::after {
  background-color: greenyellow;
}

button.coolButton:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

.export {
  display: none;
  vertical-align: middle;
}

.export h2 {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.import {
  display: none;
  vertical-align: middle;
  height: fit-content;
}

.import h2 {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
}

.import-input {
  width: 75%;
  min-height: 10vh;
  white-space: pre-line;
  resize: none;
  margin-bottom: 20px;
}

#semestersList2 {
  margin-bottom: 20px;
}

.toggleImportExport {
  margin: 0 !important;
  position: absolute !important;
  bottom: 0;
  right: 10px;
  background-color: var(--main-bg-color) !important;
  color: var(--main-text-color) !important; 
  font-size: 16px !important;
  width: auto !important;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}